<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$ - Quill</title>
        <link href="https://fonts.googleapis.com/css?family=Jost:700|Manrope:400,600|Cousine&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <header>
            <h1><a href="/" style="text-decoration: none;">quill.<a></h1> 
            <nav>
                <a href="/getting-started.html">Getting Started</a>
                <a href="/documentation.html">Documentation</a>
            </nav>
        </header>
        <main>
            $body$
        </main>
        <footer>
            <a
                style="margin-left: auto"
                href="https://github.com/LightAndLight/quill/edit/master/$path$"
            >
                Edit this page
            </a>
        </footer>
    </body>
</html>
